<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> Learning | Happygirl  </title>
    
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
</head>

<body>
    <header>
        <a href="index.html" id="logo">
            <h1> Post It </h1>
        </a>
        <nav>
            <ul>
                <li><a href="login.html">Login</a></li>
                <li><a href="creategroup.html">Create
                Group</a></li>
                <li><a href="postmessage.html">Post message</a></li>
                <li><a href="messageboard.html" class="selected">Message Board</a></li>
            </ul>
        </nav>
    </header>
    <div>

      <section>
            <form action="index.html" method="post" name="SignupDetail">
                    <label for="groupname">Group</label>
                    <select name="groupname" id="groupname">
                    <option > Group one </option>
                    <option > Group two  </option>
                    <option  > Group three </option>
                    <option > Group four  </option>
                    </select><br>
                


          </form>
            
      </section>

  </div>
    
 
   <div>
        
    
    
  </div>
    
      <div>
    <form>
          <input>

                    <textarea rows="15" cols="20"> Your Message........ </textarea><br>

                    <input type="submit" value="Read More">
                    <textarea rows="15" cols="20"> Your Message........ </textarea><br>

                    <input type="submit" value="Read More">
                    <textarea rows="15" cols="20"> Your Message........ </textarea>

                    <input type="submit" value="Read More">
        
          </form>
    
  </div>
        <div>
        
      <p> message 3 </p>
    
  </div>
        <div>
        
      <p> message 4 </p>
    
  </div>
</body>

</html>