<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Learning | Happygirl  </title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
</head>

<body>
    <header>
        <a href="index.html" id="logo">
            <h1> Post It </h1>
        </a>
        <nav>
            <ul>
                <li><a href="login.html">Sign Up/Login</a></li>
                <li><a href="creategroup.html">Create
                Group</a></li>
                <li><a href="postmessage.html">Post message</a></li>
                <li><a href="messageboard.html" class="selected">Message Board</a></li>
            </ul>
        </nav>
    </header>
    <div>

      <section>
            <form action="index.html" method="post" name="SignupDetail">

              <fieldset>
                    <legend>
                        Write Message
                    </legend>
                    <label for="groupname">Group</label>
                    <select name="groupname" id="groupname">
                    <option >  </option>
                    <option >  </option>
                    <option  >  </option>
                    <option >  </option>
                    </select><br>
                    
<!--
                    <label for="postmessage"> Message:</label>
                    <input type="textarea" name="postmessage" id="postmessage"><br><br>
                    <input type="submit" value="Post">
-->
                </fieldset>


          </form>
            
      </section>

  </div>
    
 
   <div>
        
      <p> message 1 </p>
    
  </div>
    
      <div>
        
      <p> message 2 </p>
    
  </div>
        <div>
        
      <p> message 3 </p>
    
  </div>
        <div>
        
      <p> message 4 </p>
    
  </div>
</body>

</html>