<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> Learning | Happygirl </title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
</head>

<body>
    <header>
        <a href="index.html" id="logo">
            <h1> Post It </h1>
        </a>
        <nav>
            <ul>
                <li><a href="signup.html" class="selected">Sign Up</a></li>
                <li><a href="creategroup.html" >Create
                Group</a></li>
                <li><a href="postmessage.html">Post message</a></li>
                <li><a href="messageboard.html">Message Board</a></li>
            </ul>
        </nav>
    </header>
    <div >

       <section>
            <form action="index.html" method="post" name="SignupDetail">
                <fieldset>
                    <legend>
                        SignUpDetail
                    </legend><br>
                    <label for="username" > Username:</label>
                    <input type="text" name="username" placeholder="Choose a user name" id="username"><br><br>
                    <label for="email" id="email" > Email:</label>
                    <input type="email" placeholder="Enter your email" name="email"><br><br>
                    <label for="password" id="password"> Password:</label>
                    <input type="password" placeholder="Enter a password" name="password"><br><br>
                    <label for="confirmpassword" id="confirmpassword"> Confirm Password:</label>
                    <input type="password" placeholder="Re enter your password" name="confirmpassword"><br><br>
                    <input type="submit" value="Create account">
                </fieldset><br><br>

           </form>
        </section>

   </div>
</body>

</html>